$bg-color:#eee;
$border-color:#f7f7f7;
$text-color:#333;
$button-bg:#fff;
$button-hover:rgb(180, 234, 255);

body {
    padding:20px;

    .App{
        max-width: 600px;
        margin: auto;
        text-align: center;

        >section{
            background-color: $bg-color;
            border:1px solid $border-color;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 10px;

            &:first-of-type {
                div{
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $text-color;
                }
            }
            &:nth-of-type(2){
                button{
                    padding: 10px 15px;
                    margin: 5px;
                    font-size:1rem;
                    background-color: $button-bg;
                    border: 1px solid $border-color;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color .3s ease;

                    &:hover{
                        background-color: $button-hover;
                    }
                }
            }
        }
    }
}